.App {
    text-align: center;
    color: white;
    background-color: #282c34;
  }
  
.Portfolio {
    color: white;
    background-color: rgba(16, 106, 93, 0.986);
    padding: 2%;
  }
  
.Footer{
    padding: 2%;
  }
  
.Header{
    padding: 1%;
  }
  
.Skills{
    padding: 2%;
  }
  
h1{
    padding: 3%;
  }
  
  img{
    border-radius: 50%;
    max-height: 30%;
    max-width: 30%;
  }
  
  .profilepicture{
    border-radius: 50%;
    max-height: 15%;
    max-width: 15%;
  }